@model DirectoryManager.Web.Models.SubmissionRequest
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Create Submission";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />
@Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.SubmissionGuidelines))

<hr />
<p>
    <a href="~/submission/findexisting">Click here to edit an existing listing</a> 
</p>
<hr />
<br />

<form asp-action="Create" method="post">
    <!-- Use the partial view for the form -->
    @await Html.PartialAsync("_SubmissionForm")

    <button type="submit" class="btn btn-primary">Preview</button>
</form>
