@model DirectoryManager.Web.Models.SubmissionRequest
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Create Submission";
    Layout = "_CenteredLayout";
}

@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />
    @Html.Raw(await cacheHelper.GetSnippetAsync(SiteConfigSetting.SubmissionGuidelinesHtml))

<hr />
<p>
    <b> <a href="~/submission/findexisting">Edit existing link in the directory</a> (to change or update listing)</b> 
</p>
<hr />
<br />

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>There were errors with your submission</strong>
            @* include property errors by passing false *@
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }

<form asp-action="Create" method="post">
    <!-- Use the partial view for the form -->
    @await Html.PartialAsync("_SubmissionForm")

    <button type="submit" class="btn btn-primary">Preview</button>
</form>
}