@model DirectoryManager.Web.Models.SubmissionPreviewModel
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Preview";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>
<hr />
<div class="submission-guidelines">
    <p><b class="text-danger">NOT SUBMITTED YET!</b></p>
</div>
 

@if (Model.DirectoryEntryViewModel.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Removed)
{
    <p><i>You want the listing below to be removed from the directory.</i></p>
}

@if (!string.IsNullOrWhiteSpace(Model.SubcategoryName))
{
    <p><b>Categorization:</b> @Model.SubcategoryName</p>
}

<ul class="blank_list_item">
    @await Html.PartialAsync("_DirectoryEntryPartial", Model.DirectoryEntryViewModel)
</ul>

<hr />

@if (!string.IsNullOrWhiteSpace(Model.NoteToAdmin))
{
    <h4>Note To Admin (private)</h4>

    <p>@Model.NoteToAdmin</p>

    <hr />
}

<br />

<div style="display: flex; align-items: center; gap: 25px;">
    <a href="~/submit?submissionid=@Model.SubmissionId" >Continue editing</a>

    <form asp-action="Confirm" method="post" style="margin: 0;">
        @Html.HiddenFor(x => x.SubmissionId)
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
