@model DirectoryManager.Web.Models.SubmissionPreviewModel

@{
    ViewData["Title"] = "Submission Preview";
}
<h1>@ViewData["Title"]</h1>

<p>This is what your listing submission looks like. <a href="~/submit?submissionid=@Model.SubmissionId">Click here</a> to edit your submission.</p>
<hr />

@if (Model.DirectoryEntryViewModel.DirectoryEntry.DirectoryStatus == DirectoryManager.Data.Enums.DirectoryStatus.Removed)
{
    <p><i>You want the listing below to be removed from the directory.</i></p>
}

<ul>
    @await Html.PartialAsync("_DirectoryEntryPartial", Model.DirectoryEntryViewModel)
</ul>

<hr />

@if (!string.IsNullOrWhiteSpace(Model.NoteToAdmin))
{
    <h4>Note To Admin</h4>

    <p>@Model.NoteToAdmin</p>

    <hr />
}

<br />

<form asp-action="Confirm" method="post">
    @Html.HiddenFor(x => x.SubmissionId)
    <button type="submit" class="btn btn-primary">Submit</button>
</form>