@model DirectoryManager.Web.Models.SubmissionRequest
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Constants;

@{
    var submissionStatuses = Enum.GetValues(typeof(SubmissionStatus)).Cast<SubmissionStatus>();
    ViewData[StringConstants.TitleHeader] = "Edit Listing";
    ViewData[StringConstants.MetaContent] = StringConstants.MetaTagNoIndex;
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>
<hr />
<a href="~/submission/findexisting">&lt; find listing to edit</a>
<hr />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>There were errors with your submission</strong>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

<form asp-action="Create" method="post">
    <!-- Use the partial view for the form -->
    @await Html.PartialAsync("_SubmissionForm")

    <button type="submit" class="btn btn-primary">Preview Submission</button>
</form>

@if (Model.DirectoryEntryId != null)
{
    <a style="float:right;" href="~/submission/audit/@Model.DirectoryEntryId">History for @Model.Name</a>
}
