@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@model DirectoryManager.Web.Models.SubmissionRequest
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Success";
}

@{
    Layout = "_CenteredLayout";
}

@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>
<hr />

@await Html.PartialAsync("_BackToHome")

<hr />
  
    @Html.Raw(await cacheHelper.GetSnippetAsync(DirectoryManager.Data.Enums.SiteConfigSetting.SuccessPageHtml))

}