@model DirectoryManager.Web.Models.SubmissionRequest
@{
    ViewData["Title"] = "Success!";
}

@await Html.PartialAsync("_BackToHome")

<h2>@ViewData["Title"]</h2>
  
<p>Your revisions will be reviewed.</p>