@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@model DirectoryManager.Web.Models.SubmissionRequest
@{
    ViewData["Title"] = "Success";
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_BackToHome")

<hr />
  
@Html.Raw(cacheHelper.GetSnippet(DirectoryManager.Data.Enums.SiteConfigSetting.SuccessPageHtml))