@using DirectoryManager.Data.Models
@model Subcategory
@using DirectoryManager.Web.Constants;

@{
    ViewData[StringConstants.TitleHeader] = "Create Subcategory";
}

@{
    Layout = "_CenteredLayout";
}

@section PageContent {
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_SubcategoryForm", Model)

    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
}