@model List<DirectoryManager.Web.Controllers.AdvertisersController.AdvertisedEntryVm>
@using DirectoryManager.Web.Constants
@{
    ViewData[StringConstants.TitleHeader] = "Advertisers";
    Layout = "_CenteredLayout";
}

@section PageContent {
    <div class="page-header-bar">
        <h1 class="page-title">@ViewData[StringConstants.TitleHeader]</h1>
        @await Html.PartialAsync("_SiteLogo")
    </div>
    <hr />

    @if (Model == null || !Model.Any())
    {
        <p>No advertisers found.</p>
    }
    else
    {
        <p><i>Total: @Model.Count</i></p>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name</li>
            }
        </ul>
    }
}
