@using DirectoryManager.Web.Constants

@{
    ViewData[StringConstants.TitleHeader] = "Owner Admin Verification";
    Layout = "_CenteredLayout";

    // the partial uses these
    ViewBag.PostController = "SiteOwnerAdmin";
    ViewBag.PostAction = "VerifyPost";
}

@section PageContent {

<h1>Verify PGP Challenge</h1>

    <partial name="~/Views/Shared/_PgpVerifyCode.cshtml" />

<p class="mt-3">
    <a href="/site/@ViewBag.DirectoryEntryKey/admin">Start over</a>
</p>

}