@using DirectoryManager.Data.Models
@using DirectoryManager.Data.Enums
@model DirectoryEntry
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Web.Constants;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData[StringConstants.TitleHeader] = "Create Directory Entry";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<hr />

<form method="post" action="~/directoryentry/create">
    <!-- Use the partial view for the form -->
    @await Html.PartialAsync("_DirectoryEntryForm")

    <button type="submit">Create</button>
</form>
