@using DirectoryManager.Data.Enums;
@using DirectoryManager.Data.Models
@model DirectoryEntry

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var orderedSubCategories = ((IEnumerable<SubCategory>)ViewBag.SubCategories)
                                    .OrderBy(sc => sc.Category.Name)
                                    .ThenBy(sc => sc.Name)
                                    .Select(sc => new
                                    {
                                        Id = sc.Id,
                                        DisplayName = $"{sc.Category.Name} > {sc.Name}"
                                    });
}

<h1>@(Model.Id == 0 ? "Create Directory Entry" : "Edit Directory Entry")</h1>

<a href="~/account/home">Admin home</a>

<hr />


<form method="post">
    <div>
        <label asp-for="DirectoryStatus">Status:</label>
        <select asp-for="DirectoryStatus" asp-items="Html.GetEnumSelectList<DirectoryStatus>()"></select>
    </div>

    <div>
        <label asp-for="SubCategoryId">SubCategory:</label>
        <select asp-for="SubCategoryId" asp-items="@(new SelectList(orderedSubCategories, "Id", "DisplayName"))" required></select>
    </div>

    <div>
        <label asp-for="Name">Name:</label>
        <input style="width:300px" type="text" asp-for="Name" required />
    </div>
    <div>
        <label asp-for="Link">Link:</label>
        <input style="width:300px" type="text" asp-for="Link" required />
    </div>
    <div>
        <label asp-for="Link2">Link 2:</label>
        <input style="width:300px" type="text" asp-for="Link2" />
    </div>
    <div>
        <label asp-for="Contact">Contact:</label>
        <input style="width:300px" type="text" asp-for="Contact" />
    </div>
    <div>
        <label asp-for="Location">Location:</label>
        <input style="width:300px" type="text" asp-for="Location" />
    </div>

    <div>
        <label asp-for="Processor">Processor:</label>
        <input style="width:300px" type="text" asp-for="Processor" />
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <textarea cols="100" asp-for="Description"></textarea>
    </div>

    <div>
        <label asp-for="Note">Note:</label>
        <textarea cols="100" asp-for="Note"></textarea>
    </div>


    <button type="submit">Save</button>
</form>
