@using DirectoryManager.Data.Models
@model IEnumerable<DirectoryEntry>
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Directory Entries - Report";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")
 
<img src="@Url.Action("WeeklyPlotImage", "DirectoryEntry")" alt="Weekly Cumulative Totals Plot" />