@model DirectoryManager.Data.Models.SponsoredListings.SponsoredListingOffer

@{
    ViewData["Title"] = "Create Sponsored Listing Offer";
    SelectList sponsorshipTypeSelectList = new SelectList(Enum.GetValues(typeof(DirectoryManager.Data.Enums.SponsorshipType)));
}

<h1>@ViewData["Title"]</h1>
@await Html.PartialAsync("_AdminMenu")

<br />
<a href="~/sponsoredlistingoffer/index">&lt; back</a>
<hr />
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="SponsorshipType" class="control-label"></label>
        @Html.DropDownListFor(model => model.SponsorshipType, sponsorshipTypeSelectList, new { @class = "form-control" })
        <span asp-validation-for="SponsorshipType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Days" class="control-label"></label>
        <input asp-for="Days" class="form-control" />
        <span asp-validation-for="Days" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label> @DirectoryManager.Data.Enums.Currency.USD.ToString()
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>