@model IEnumerable<DirectoryManager.Data.Models.SponsoredListings.SponsoredListingOffer>
@using DirectoryManager.Web.Constants;

@{
    ViewData[StringConstants.TitleHeader] = "Sponsored Listing Offers";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<a asp-action="Create">Create New</a>
<hr />

@await Html.PartialAsync("_SponsorshipOptions",  Model.Where(x => x.SponsorshipType == DirectoryManager.Data.Enums.SponsorshipType.MainSponsor)) 

@await Html.PartialAsync("_SponsorshipOptions", Model.Where(x => x.SponsorshipType == DirectoryManager.Data.Enums.SponsorshipType.CategorySponsor))

@await Html.PartialAsync("_SponsorshipOptions", Model.Where(x => x.SponsorshipType == DirectoryManager.Data.Enums.SponsorshipType.SubcategorySponsor)) 