@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Cancelled Sponsored Listing";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />