@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Current Sponsored Listings";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />

@await Html.PartialAsync("_SponsoredListingPartial")