@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@using DirectoryManager.Data.Enums;
@model DirectoryManager.Web.Models.SponsoredListingHomeModel;

@{
    ViewData["Title"] = "Sponsored Listings";
}
<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />

<h2>Listing Details</h2>
<p>
    @Html.Raw(cacheHelper.GetSnippet(SiteConfigSetting.SponsoredListingDetails))

</p>

<p>
    <b> Steps for listing:</b>
</p>

<ol>
    <li>Select your listing <i>(Note: your choice must currently be <a href="~/submit"> listed</a>)</i></li>
    <li>Choose your listing's duration</li>
    <li>Pay for your sponsored listing</li>
    <li>Your listing goes live automatically</li>
</ol>

@if (Model.CanCreateSponsoredListing)
{
    <br />
    <p>
        <a class="btn" href="~/sponsoredlisting/selectlisting">Select Listing</a>        
    </p>
    <p><i>@(IntegerConstants.MaxSponsoredListings - Model.CurrentListingCount) spot@((IntegerConstants.MaxSponsoredListings - Model.CurrentListingCount) == 1 ? "" : "s") remaining</i></p>
}
else
{
    if (string.IsNullOrWhiteSpace(Model.Message))
    {
        @await Html.PartialAsync("_AdSpaceFull", new ListingInventoryModel()
       {
           CanCreateSponsoredListing = Model.CanCreateSponsoredListing,
           NextListingExpiration = Model.NextListingExpiration
       });

        <p>However, you can extend the duration of an existing listing: <a href="~/sponsoredlisting/activelistings">here</a>.</p>
        <p>See current offers and pricing: <a href="~/sponsoredlisting/offers">here</a>.</p>
    }
    else
    {
        <p><i>@Model.Message</i></p>
    }
}