@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@model DirectoryManager.Web.Models.SponsoredListingHomeModel;

@{
    ViewData["Title"] = "Sponsored Listings";
}
<h1>@ViewData["Title"]</h1>

<a href="~/">Back to home</a>
<hr />

<h2>Listing Details</h2>
<p>
Sponsored listings are a way to support the directory and get your selected listing seen by more people.
A maximum of @IntegerConstants.MaxSponsoredListings sponsored listings are shown at the top of the directory.
The topmost listing is the one that has the longest duration of time left for its payment.
In addition to being at the top of the page, your listing is also highlighted in the normal list.
</p>

<p>
    <b> Steps for listing:</b>
</p>

<ol>
    <li>Select your listing <i>(Note: your choice must currently be <a href="~/submit"> listed</a>)</i></li>
    <li>Choose your listing's duration</li>
    <li>Pay for your sponsored listing</li>
    <li>Your listing goes live automatically</li>
</ol>

    @if (Model.CanCreateSponsoredListing)
    {
    <p>
        <a class="btn"  href="~/sponsoredlisting/selectlisting">Select Listing</a>        
    </p>
    <p><i>@(IntegerConstants.MaxSponsoredListings - Model.CurrentListingCount) spot@((IntegerConstants.MaxSponsoredListings - Model.CurrentListingCount) == 1 ? "" : "s") remaining</i></p>
    }
    else
    {
    @await Html.PartialAsync("_AdSpaceFull", new ListingInventoryModel()
        { CanCreateSponsoredListing = Model.CanCreateSponsoredListing,
         NextListingExpiration = Model.NextListingExpiration})
    ;
    }