@using DirectoryManager.Web.Constants;
@model DirectoryManager.Web.Models.SuccessViewModel
@{
    ViewData[StringConstants.TitleHeader] = "Successful Sponsored Listing";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_BackToHome")

<hr />

<p>Thank you for your payment. Your order ID is: @Model.OrderId</p>

<p>Your listing is currently live and will remain displayed until: @Model.ListingEndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</p>

<p>Please allow some time for caching to clear before it will be displayed.</p>