@using DirectoryManager.Web.Constants;
@model DirectoryManager.Web.Models.SuccessViewModel
@{
    ViewData["Title"] = "Successful Sponsored Listing";
}
<h1>@ViewData["Title"]</h1>

<a href="~/">Back to home</a>

<hr />

<p>Thank you for your payment. Your order ID is: @Model.OrderId</p>

<p>Your listing is currently live and will remain displayed until: @Model.ListingEndDate.ToString(StringConstants.DateTimeFormat)</p>