@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Helpers
@using DirectoryManager.Web.Models
@using Microsoft.Extensions.Caching.Memory
@model DirectoryManager.Web.Models.SponsoredListingOffersViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject NowPayments.API.Interfaces.INowPaymentsService nowPaymentsService
@inject IMemoryCache memoryCache

@{
    ViewData["Title"] = "Sponsored Listing Offers";
    Layout = "_CenteredLayout";

    var conversionResult = await CurrencyConversionHelper.GetConversionContextAsync(httpContextAccessor, memoryCache, nowPaymentsService);
}

@section PageContent {
    <h1>@ViewData["Title"]</h1>
    <hr />
    @await Html.PartialAsync("_BackToHome")
    <hr />

    <h2>Offers</h2>
    <p>These are the rates for advertising. The default prices are used unless there is a subcategory override.</p>
    <p><a class="btn btn-primary" href="~/sponsoredlisting">Buy Advertising</a></p>

    <hr />
    <p>Rates as of: @DateTime.UtcNow.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</p>

    @await Html.PartialAsync("_SponsorshipOfferTable", new SponsorshipOffersTableViewModel {
    SponsorshipType = SponsorshipType.MainSponsor,
        Offers = Model.MainSponsorshipOffers,
        ConversionRate = conversionResult.conversionRate,
        SelectedCurrency = conversionResult.selectedCurrency
    })

@await Html.PartialAsync("_SponsorshipOfferTable", new SponsorshipOffersTableViewModel {
        SponsorshipType = SponsorshipType.CategorySponsor,
        Offers = Model.CategorySponsorshipOffers,
        ConversionRate = conversionResult.conversionRate,
        SelectedCurrency = conversionResult.selectedCurrency
    })

@await Html.PartialAsync("_SponsorshipOfferTable", new SponsorshipOffersTableViewModel {
        SponsorshipType = SponsorshipType.SubcategorySponsor,
        Offers = Model.SubCategorySponsorshipOffers,
        ConversionRate = conversionResult.conversionRate,
        SelectedCurrency = conversionResult.selectedCurrency
    })
}
