@using DirectoryManager.Web.Constants;
@using DirectoryManager.Web.Models;
@using DirectoryManager.Data.Models.SponsoredListings;
@model IEnumerable<SponsoredListingOffer>

@{
    ViewData["Title"] = "Sponsored Listing Offers";
}
<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />
 
<h2>Offers</h2>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th></th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Description</td>
                <td> - </td>
                <td>@offer.Price.ToString("C") (@offer.PriceCurrency.ToString())</td>
            </tr>
        }
    </tbody>
</table>