@using DirectoryManager.Data.Enums
@using DirectoryManager.Web.Helpers
@using DirectoryManager.Web.Models
@using Microsoft.Extensions.Caching.Memory
@model DirectoryManager.Web.Models.SponsoredListingOffersViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@inject NowPayments.API.Interfaces.INowPaymentsService nowPaymentsService
@inject IMemoryCache memoryCache

@{
    ViewData["Title"] = "Sponsored Listing Offers";
    Layout = "_CenteredLayout";

    var conversionResult = await CurrencyConversionHelper.GetConversionContextAsync(httpContextAccessor, memoryCache, nowPaymentsService);
    var conversionRate = conversionResult.conversionRate;
}

@section PageContent {
        @await Html.PartialAsync("_SiteLogo")
    <h1>@ViewData["Title"]</h1>
    <hr />
    @await Html.PartialAsync("_BackToHome")
    <hr />

    <h2>Offers</h2>
    <p>These are the current market rates for advertising. Rates change according to demand. The default prices are used unless there is a subcategory override.</p>
    <p><a class="btn btn-primary" href="~/sponsoredlisting">Buy Advertising</a></p>

    <hr />
   
    @if (Model.LastUpdatedDate.HasValue)
    {
        <p>Rates last updated on: 
           @Model.LastUpdatedDate.Value.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)
        </p>
    }
    else
    {
        <p>Rates last updated on: (not available)</p>
    }

@await Html.PartialAsync(
    "_SponsorshipOffersTable",
    new DirectoryManager.Web.Models.SponsorshipOffersTableViewModel {
        SponsorshipType = SponsorshipType.MainSponsor,
        Offers = Model.MainSponsorshipOffers,
        ConversionRate = conversionRate,
        SelectedCurrency = "XMR"
    })

@* render CategorySponsor table *@
@await Html.PartialAsync(
    "_SponsorshipOffersTable",
    new DirectoryManager.Web.Models.SponsorshipOffersTableViewModel {
        SponsorshipType = SponsorshipType.CategorySponsor,
        Offers = Model.CategorySponsorshipOffers,
        ConversionRate = conversionRate,
        SelectedCurrency = "XMR"
    })

@* render SubcategorySponsor table *@
@await Html.PartialAsync(
    "_SponsorshipOffersTable",
    new DirectoryManager.Web.Models.SponsorshipOffersTableViewModel {
        SponsorshipType = SponsorshipType.SubcategorySponsor,
        Offers = Model.SubCategorySponsorshipOffers,
        ConversionRate = conversionRate,
        SelectedCurrency = "XMR"
    })
}
