@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Partial Payment of Sponsored Listings";
}

@{
    Layout = "_CenteredLayout";
}
@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />
}