@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Partial Payment of Sponsored Listings";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_BackToHome")
<hr />