@using DirectoryManager.Data.Models
@using DirectoryManager.Web.Constants;
@model IEnumerable<DirectoryEntry>

@{
    ViewData[StringConstants.TitleHeader] = "Select Sponsored Listing";
    ViewData[StringConstants.IsIndexable] = false;
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />

@foreach (var entry in Model)
{
    <div>
        <a target="_blank" href="@entry.Link">@entry.Name</a> <text> - </text>
        <a rel="nofollow" href="@Url.Action("selectduration", new { id = entry.DirectoryEntryId, rsvId = ViewBag.ReservationGuid })">Select</a>
    </div>
}