@model DirectoryManager.Web.Models.ChangePasswordModel
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Change Password";
    Layout = "_CenteredLayout";
}

@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

<form asp-controller="Account" asp-action="ChangePassword" 
    method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input autocomplete="off" asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input autocomplete="off" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input autocomplete="off" asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change Password</button>
        </div>
    </div>  
</form>
}