@model DirectoryManager.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<i>Signed in as: </i> @User.Identity.Name

<ul>
    <li>
        <a href="~/account/edit">Edit from page</a>
    </li>
    <li>
        <a href="~/account/NewestAdditions">Newest additions</a>
    </li>
    <li>
        <a href="~/category/create">Create category</a>
    </li>
    <li>
        <a href="~/category/index">Categories</a>
    </li>
    <li>
        <a href="~/directoryentry/create">Create directory entry</a>
    </li>
    <li>
        <a href="~/directoryentry/index">Directory entries</a>
    </li>
    <li>
        <a href="~/submission/index">Submissions</a>
    </li>
    <li>
        <a href="~/subcategory/create">Create sub category</a>
    </li>
    <li>
        <a href="~/subcategory/index">Sub categories</a>
    </li>
</ul>


<a href="~/account/logout">Logout</a> | <a href="~/">Back to home</a>