@model DirectoryManager.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Admin home";
}
<h1>@ViewData["Title"]</h1>
 
<hr />
<i>Signed in as: </i> @User?.Identity?.Name

<ul>
    <li>
        <a href="~/ContentSnippetManagement">Content snippets</a>
    </li>
    <li>
        <a href="~/category/index">Categories</a>
    </li>
    <li>
        <a href="~/category/create">Create category</a>
    </li>
    <li>
        <a href="~/directoryentry/create">Create directory entry</a>
    </li>
    <li>
        <a href="~/subcategory/create">Create sub category</a>
    </li>
    <li>
        <a href="~/directoryentry/index">Directory entries</a>
    </li>
    <li>
        <a href="~/account/edit">Edit from page</a>
    </li>
    <li>
        <a href="~/directoryentryselection/index">Selected entries</a>
    </li>
    <li>
        <a href="~/sponsoredlisting/list">Sponsored listings</a>
    </li>
    <li>
        <a href="~/subcategory/index">Sub categories</a>
    </li>
    <li>
        <a href="~/submission/index">Submissions</a>
    </li>
    <li>
        <a href="~/TrafficReport/index">Traffic report</a>
    </li>
</ul>


<a href="~/account/logout">Logout</a> | <a href="~/">Back to home</a>