@model DirectoryManager.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<hr />

<form method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control input-width" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control input-width" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>