@using System.Globalization;
@model IEnumerable<DirectoryManager.Data.Models.GroupedDirectoryEntry>

<h1>Newest Additions</h1>
<a href="~/account/home">Admin home</a>
<hr />

<ul>
    @foreach (var group in Model.GroupBy(g => g.Date))
    {
        <li>
            <pre>@DateTime.ParseExact(group.Key, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("yyyy-MM-dd") Additions:</pre>
            <ul>
                @foreach (var entry in group.SelectMany(g => g.Entries))
                {
                    <li><pre>+ @entry.Name - @entry.Link @if (!string.IsNullOrWhiteSpace(entry.Description)){<text>- </text> @entry.Description }</pre>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
