@model DirectoryManager.Web.Models.ContentSnippet.ContentSnippetEditModel
@using DirectoryManager.Web.Constants

@{
    ViewData[StringConstants.TitleHeader] = "Create Snippet";
    ViewData["Action"] = "Create";
    ViewData["ButtonLabel"] = "Create";
    ViewBag.SnippetTypes = new SelectList(Model.UnusedSnippetTypes, "Value", "Text");
}

@{
    Layout = "_CenteredLayout";
}

@section PageContent {

<h1>@ViewData[StringConstants.TitleHeader]</h1>

@await Html.PartialAsync("_AdminMenu")

@await Html.PartialAsync("_ContentSnippetForm", Model)

}
