@model DirectoryManager.Web.Models.ContentSnippet.ContentSnippetEditModel
@using DirectoryManager.Web.Constants

@{
    ViewData[StringConstants.TitleHeader] = "Create Snippet";
    ViewData["Action"] = "Create";
    ViewData["ButtonLabel"] = "Create";
    ViewBag.SnippetTypes = new SelectList(Model.UnusedSnippetTypes, "Value", "Text");
}

<h2>@ViewData[StringConstants.TitleHeader]</h2>

<hr />
@await Html.PartialAsync("_AdminMenu")

<hr />

@await Html.PartialAsync("_ContentSnippetForm", Model)