@model DirectoryManager.Web.Models.ContentSnippet.ContentSnippetEditModel
@using DirectoryManager.Web.Constants

@{
    ViewData[StringConstants.TitleHeader] = "Edit Snippet";
    ViewData["Action"] = "Edit";
    ViewData["ButtonLabel"] = "Update";
    ViewBag.SnippetTypes = Html.GetEnumSelectList<DirectoryManager.Data.Enums.SiteConfigSetting>();
}

<h2>@ViewData[StringConstants.TitleHeader]</h2>

@await Html.PartialAsync("_ContentSnippetForm", Model)
