@model DirectoryManager.Web.Models.ContentSnippet.ContentSnippetEditListModel
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Content Snippets";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />

@await Html.PartialAsync("_AdminMenu")

<hr />

<a href="~/ContentSnippetManagement/create">Create new</a>

@if (Model != null && Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.SnippetType
                    </td>
                    <td>
                        <a href="~/ContentSnippetManagement/edit?ContentSnippetId=@item.ContentSnippetId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <i>No content</i>
}