@model DirectoryManager.Web.Models.ContentSnippet.ContentSnippetEditListModel

@{
    ViewData["Title"] = "Content Snippets";
}
<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_AdminMenu")

<hr />

<a href="~/ContentSnippetManagement/create">Create new</a>

@if (Model != null && Model.Items.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.SnippetType
                    </td>
                    <td>
                        <a href="~/ContentSnippetManagement/edit?ContentSnippetId=@item.ContentSnippetId">Edit</a>
                    </td>
                    <td style="width:200px; text-align:right;">
                        @using (Html.BeginForm("Delete", "ContentSnippetManagement", FormMethod.Post,
                       new { role = "form", onsubmit = string.Format(@"return confirm('Do you really want to delete this?');") }))
                        {
                            <button type="submit" name="ContentSnippetId" value="@item.ContentSnippetId"> &#x1F5D1;</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <i>No content</i>
}
