@{
    Layout = "_CenteredLayout";
    ViewData["Title"] = "Thank you";
}
<h1>Thank you!</h1>
<p>Your review was received and will be shown after a manual review by our team.</p>
<p><a href="~/">Return to home</a></p>
