@using DirectoryManager.Web.Constants
@{
    ViewData[StringConstants.TitleHeader] = "Thank You";
    Layout = "_CenteredLayout";
}

@section PageContent {
    <div class="page-header-bar">
        <h1 class="page-title">@ViewData[StringConstants.TitleHeader]</h1>
        @await Html.PartialAsync("_SiteLogo")
    </div>
    <hr />

    @{
        var msg = TempData["ReviewMessage"] as string;
    }

    @if (!string.IsNullOrWhiteSpace(msg))
    {
        <p><b>@msg</b></p>
    }
    else
    {
        <p><b>Thanks for your review!</b></p>
    }

    @await Html.PartialAsync("_BackToHome")
}
