@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Join Email Newsletter";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />

@if (this.ViewBag.NewsletterSummaryHtml != null)
{
    @Html.Raw(this.ViewBag.NewsletterSummaryHtml)
}

<form asp-controller="EmailSubscription" asp-action="Subscribe" method="post" class="form-inline">

    <input name="Email" type="email" id="inlineFormInput" placeholder="yourname@email.com">

    <button type="submit" class="btn btn-success">Subscribe</button>
</form>