@{
    ViewData["Title"] = "Join Email Newsletter";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="EmailSubscription" asp-action="Subscribe" method="post" class="form-inline">

    <input name="Email" type="email" id="inlineFormInput" placeholder="yourname@email.com">

    <button type="submit" class="btn btn-success">Subscribe</button>
</form>