<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
			<security>
				<requestFiltering removeServerHeader="true" />
			</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>

			<aspNetCore processPath=".\DirectoryManager.Web.exe" 
						stdoutLogEnabled="false" 
						stdoutLogFile=".\logs\stdout" 
						hostingModel="outofprocess">

			<handlerSettings>
				<handlerSetting name="enableShadowCopy" value="true" />
				<!-- Ensure that the IIS ApplicationPool identity has permission to this directory -->
				<handlerSetting name="shadowCopyDirectory" value="../ShadowCopyDirectory/" />
			</handlerSettings>

		</aspNetCore>
	</system.webServer>
</configuration>