@using DirectoryManager.Web.Constants;
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@{
    ViewData[StringConstants.TitleHeader] = "FAQ";
}
@{
    Layout = "_CenteredLayout";
}
@section PageContent {
    @await Html.PartialAsync("_SiteLogo")
    <h1>@ViewData[StringConstants.TitleHeader]</h1>
    <hr />
    @await Html.PartialAsync("_BackToHome")
    <hr />
    @Html.Raw(await cacheHelper.GetSnippetAsync(DirectoryManager.Data.Enums.SiteConfigSetting.FAQHtml))
}