@using DirectoryManager.Data.Enums
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
 
@{
    var root = cacheHelper.GetSnippet(SiteConfigSetting.FullRootUrl);
    var isOnTor = httpContextAccessor.HttpContext?.Request.Host.Host.EndsWith(DirectoryManager.Web.Constants.StringConstants.TorDomain) ?? false;

    if (isOnTor || string.IsNullOrWhiteSpace(root))
    {
        <a class="no-app-link" href="~/">back to home</a>
    }else
    {
        <a class="no-app-link" href="@root">back to home</a>
    }
}