<h3 id="donate">Donate</h3>
<i>Support Monerica to ensure the directory stays online and has accurate information for everyone in the Monero community.</i>

<p>
    <b class="multi-line-text">8BzHMDw2UaXNpCZM9wxABXW3qAKMxM2WxDGuDWSf5x5v7t1PdWdMfdLCzdtK8Eb9C5ZHcEHNR85bcbWhuK8SLCH46Pvy71q</b>
</p>

<input type="checkbox" id="toggleImageCheckbox">
<label for="toggleImageCheckbox">Click for donation QR code</label>
<img id="toggleImage" src="/images/monerica-donate-qr-code.png" alt="A placeholder image">