@{
    Layout = "_BaseLayout";
    var nav = ViewData["NavModel"] as DirectoryManager.Web.Models.NavigationViewModel;
}

@section ChromeBeforeMain {
    @await Html.PartialAsync("_SidebarNav", nav)
}

@section ChromeAfterMain {
    <div id="main-content">
        <main class="main">
            @RenderSection("PageContent", required: true)
        </main>
    </div>
}
