@{
    Layout = "_BaseLayout";
    // Your navigation VM should already be in ViewData["NavModel"]
    var nav = (DirectoryManager.Web.Models.NavigationViewModel)ViewData["NavModel"];
}
@section ChromeBeforeMain {
        @Html.Partial("_SidebarNav", nav)
}
@section ChromeAfterMain {
    <div id="main-content">
        <main class="main">
            @RenderSection("PageContent", required: true)
         </main>

   
    </div>
}