<p>
    <b>Q: How do I get a PGP public key to post a review?</b> <span>A: Download: <a href="https://apps.kde.org/kleopatra/" target="_blank">Kleopatra</a> then: File > New Open PGP Key Pair.</span>
</p>