@using DirectoryManager.Web.Services.Interfaces
@inject IUrlResolutionService Urls

<div class="text-center mb-3">
    <form method="get"
          action="@Urls.Resolve("/search")"
          class="form-inline">
        <input type="search"
               name="q"
               class="form-control mr-2"
               placeholder="Search…"
               aria-label="Search" />
        <button type="submit" class="btn btn-primary" style="padding:5px;">
            Search
        </button>
    </form>
</div>
