@using DirectoryManager.Data.Models
@using DirectoryManager.Web.Constants;

@{
    ViewData[StringConstants.TitleHeader] = "Error";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>
 

<hr />
 <h2 style="color:red">There was an error with your request</h2>