@model DirectoryManager.Web.Models.AffiliateCommissionPaid.AffiliateCommissionEarnedEditViewModel
@{
    ViewData["Title"] = "Edit Affiliate Commission";
    Layout = "_CenteredLayout";
}

@section PageContent {

<h1>Edit Affiliate Commission</h1>

<p><a asp-action="Index">&laquo; Back to list</a></p>

<form asp-action="Edit" asp-route-id="@Model.AffiliateCommissionEarnedId" method="post">
    <input type="hidden" asp-for="AffiliateCommissionEarnedId" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_AffiliateCommissionEarnedFormFields" model="Model" />

    <p>
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </p>
</form>

}