@model DirectoryManager.Data.Models.BlockedIP

@{
    ViewData["Title"] = "Add Blocked IP";
}

<h1>@ViewData["Title"]</h1>

<hr />

@await Html.PartialAsync("_AdminMenu")

@using (Html.BeginForm("Create", "BlockedIPs", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.IpAddress)
        @Html.TextBoxFor(model => model.IpAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IpAddress)
    </div>
    <button type="submit" class="btn btn-primary">Add IP</button>
}
