@model IEnumerable<DirectoryManager.Data.Models.BlockedIP>
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Add Blocked IP";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />
@await Html.PartialAsync("_AdminMenu")

<br />
<a href="~/blockedips/create">Create</a>

<table class="table">
    <tr>
        <th>IP Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IpAddress)</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.BlockedIPId }, 
                new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this IP?');" })
            </td>
        </tr>
    }
</table>
