@using DirectoryManager.Web.Constants
@inject DirectoryManager.Web.Services.Interfaces.ICacheService cacheHelper
@model DirectoryManager.Web.Models.SuccessViewModel
@{
    ViewData[StringConstants.TitleHeader] = "Payment Received";
    Layout = "_CenteredLayout";
}

@section PageContent {
    <h1>@ViewData[StringConstants.TitleHeader]</h1>

    <hr />
    @await Html.PartialAsync("_BackToHome")
    <hr />

    <p>&#9989; Thank you for your payment via BTCPay Server. Your order ID is: <strong>@Model.OrderId</strong></p>

    <br />

    <p>Your listing is currently live and will remain displayed until: <b>@Model.ListingEndDate.ToString(DirectoryManager.Common.Constants.StringConstants.DateTimeFormat)</b> UTC</p>

    <br />
 
    @Html.Raw(await cacheHelper.GetSnippetAsync(DirectoryManager.Data.Enums.SiteConfigSetting.InvoiceSuccessMessageHtml))
}
