<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="SecureRedirect" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
						<add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
					</conditions>
					<action type="Redirect" url="https://{C:2}" redirectType="Permanent" />
				</rule>
				<rule name="Remove www" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
					</conditions>
					<action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
