@using DirectoryManager.Data.Models
@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>@ViewData["Title"]</h1>
@await Html.PartialAsync("_AdminMenu")

<hr />

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="input-width" type="text" name="Name" value="@Model.Name" required />
    </div>
 
    <div class="form-group">
        <label asp-for="Note">Description</label>
        <textarea class="input-width" cols="100" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Note">Note</label>
        <textarea class="input-width" cols="100" asp-for="Note"></textarea>
    </div>
  
    <button type="submit">Update</button>
</form>
