@using DirectoryManager.Data.Models
@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>@ViewData["Title"]</h1>
<a href="~/account/home">Admin home</a>

<hr />

<form method="post">
    <div>
        <label>Name:</label>
        <input class="input-width" type="text" name="Name" value="@Model.Name" required />
    </div>
 
    <div>
        <label asp-for="Note">Description:</label>
        <textarea class="input-width" cols="100" asp-for="Description"></textarea>
    </div>
    <div>
        <label asp-for="Note">Note:</label>
        <textarea class="input-width" cols="100" asp-for="Note"></textarea>
    </div>
  
    <button type="submit">Save</button>
</form>
