@model DirectoryManager.Data.Models.Category
@using DirectoryManager.Web.Constants;

@{
    ViewData[StringConstants.TitleHeader] = "Edit Category";
}

<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />

@await Html.PartialAsync("_AdminMenu")

<hr />

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_CategoryForm", Model)

    <button type="submit" class="btn btn-primary">Update</button>
</form>
