@using DirectoryManager.Data.Models
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}
<h1>@ViewData["Title"]</h1>

    @await Html.PartialAsync("_AdminMenu")

<hr />

@foreach (var category in Model)
{
    <div>@category.Name</div>
    <!-- You can add Edit & Delete links here -->
    <a href="@Url.Action("Edit", new { id = category.Id })">Edit</a> 
} 