@using DirectoryManager.Data.Models
@model IEnumerable<Category>
@using DirectoryManager.Web.Constants;
@{
    ViewData[StringConstants.TitleHeader] = "Categories";
}
<h1>@ViewData[StringConstants.TitleHeader]</h1>

<hr />

@await Html.PartialAsync("_AdminMenu")

<hr />

@foreach (var category in Model)
{
    <div>@category.Name</div>
    <!-- You can add Edit & Delete links here -->
    <a href="@Url.Action("Edit", new { id = category.CategoryId })">Edit</a> 
} 