@using DirectoryManager.Data.Models
@model IEnumerable<Category>

    <a href="~/account/home">Admin home</a>

<hr />

@foreach (var category in Model)
{
    <div>@category.Name</div>
    <!-- You can add Edit & Delete links here -->
    <a href="@Url.Action("Edit", new { id = category.Id })">Edit</a>
 
} 