@model DirectoryManager.Web.Models.TaggedEntriesViewModel
@{
    ViewData["Title"] = $"Tagged: {Model.Tag.Name}";
}

<h1>Tagged “@Model.Tag.Name”</h1>

<hr />
@await Html.PartialAsync("_BackToHome")
<hr />

@if (!Model.Entries.Any())
{
    <p>No listings found under this tag.</p>
}
else
{

    <ul class="blank_list_item">
    @foreach (var entry in Model.Entries)
    {
            entry.LinkType = DirectoryManager.DisplayFormatting.Enums.LinkType.ListingPage;
            @await Html.PartialAsync("_DirectoryEntryPartial", entry)
    }
    </ul>
}

<hr />
@await Html.PartialAsync("_SponsoredListingPartial")